@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {

  /* qgd = qugodev = quintero gordo developer */

  /* COLORS */
  --qgd-color-1: #3f8d86;
  --qgd-color-2: #bab6b3;
  --qgd-color-3: #030b29;
  --qgd-color-4: #8d8d8d;
  --qgd-color-5: #52525c;
  --qgd-color-6: #6a801c;
  --qgd-color-7:#1d1e5f;

  
  

  /* BACKGROUNDS */
  --qgd-primary-background:var(--qgd-color-1);
  --qgd-secondary-background:var(--qgd-color-2);


  /* TEXTS */
  --qgd-text-1: var(--qgd-color-25);
  --qgd-text-2: var(--qgd-color-50);
  --qgd-textsize-xs: 0.9rem;
  --qgd-textsize-s: 1.1rem;
  --qgd-textsize-m: 2rem;
  --qgd-textsize-l: 3rem;

  /* PADDINGS */
  --qgd-padding-xs: 0.5em;
  --qgd-padding-s: 1em;
  --qgd-padding-m: 2em;
  --qgd-padding-l: 3em;
  --qgd-padding-xl: 3.5em;
  --qgd-padding-xxl: 4em;
  --qgd-padding-button-xs: 0.4em;
  --qgd-padding-button-s: 0.4em 1.5em 0.4em 1.5em;
  --qgd-padding-button-m: 0.5em 1.6em 0.5em 1.6em;

  /* MARGINS */
  --qgd-margins-xs: 0.2em;
  --qgd-margins-s: 1em;
  --qgd-margins-m: 2em;
  --qgd-margins-l: 3em;
  --qgd-margins-xl: 4.3em;

  /* BORDER RADIUS */
  --qgd-border-radius-1: 5px;
  --qgd-border-radius-2: 100%

}

body{
  background-color: var(--qgd-primary-background);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 9vh;

}

